@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alkatra';
  font-style: normal;
  font-weight: 400;
  src: url('./font/alkatra-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #b3b2b8;
  font-family: Alkatra;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(0, 0, 0);
}

.header {
  max-width: 1440px;
}

.header_container {
  margin: 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_container_school {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

.header_container_school:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.main {
  max-width: 1440px;
}

.main_container {
  width: 40rem;
  margin: 0 auto;
}

.main_container_content {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-template-rows: 0 0 30rem 10rem;
  overflow: hidden;
}

.main_container_content > :nth-child(5) {
  grid-column: 1 / span 2;
}

input[name="slide_list"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.main_container_content_slide {
  width: 160rem;
  height: 100%;
  display: flex;
  transition: 0.6s;
}

.main_container_content_slide_pic {
  width: 40rem;
}

.main_container_content_text {
  margin: auto;
  width: 160rem;
  display: flex;
  gap: 20rem;
  transition: 0.6s;
}

.main_container_content_text_description {
  width: 20rem;
}

.main_container_navigation {
  width: 10rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_container_navigation_controller {
  width: 36px;
  height: 36px;
  padding: 7px;
  cursor: pointer;
}

.fake {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: rgb(126, 126, 224);
  border: 2px solid rgb(126, 126, 224);
  transition: 0.3s;
}

.main_container_navigation_controller:hover > .fake {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

.main_container_navigation_controller:active > .fake {
  background-color: #b3b2b8;
  border: 2px solid rgb(126, 126, 224);
}

#first:checked ~ .slip {
  margin-left: 0;
}

#second:checked ~ .slip {
  margin-left: -40rem;
}

#third:checked ~ .slip {
  margin-left: -80rem;
}

#fourth:checked ~ .slip {
  margin-left: -120rem;
}

#first:checked ~ .slip-text {
  margin-left: -120rem;
}

#second:checked ~ .slip-text {
  margin-left: -80rem;
}

#third:checked ~ .slip-text {
  margin-left: -40rem;
}

#fourth:checked ~ .slip-text {
  margin-left: 0;
}
.footer {
  max-width: 1440px;
  margin: 0 auto;
}

.footer_container {
  margin: 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creator {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.2s;
}

.creator:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}